/* //Styling for DestroyButton Component */
.DestroyButton {
  outline: none;
  background-color: black;
  color: white;
  border: 1px solid green;
  width: 6vw;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
}
.DestroyButton:hover {
  background-color: red;
  color: black;
}
