/* //Styling for Home Page */
.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 5rem;
  padding: 10px;
  margin: 10%;
}
.HomePage-header1 {
  font-size: 20px;
  font-weight: bold;
}
.HomePage-header2 {
  font-size: 18px;
  padding-bottom: 15px;
}
.HomePage-description {
  display: inline-block;
  border: dotted 4px white;
  padding: 20px;
}
